html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f5f3f0;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.4rem;
  margin: 0;
}

header {
  background-color: #fbbd2e;
  color: #000;
  display: flex;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  padding: 33px 0 25px 15px;
}

header h1 {
  display: inline-block;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  margin: 0 0 0 1.5rem;
}

.container {
  background-color: #f5f3f0;
  display: grid;
  grid-template-columns: .6fr .1fr 1fr;
  grid-template-rows: 1fr;
  padding: 5rem;
  grid-template-areas: 'form ... items';
}

.food-form {
  background-color: #fafbff;
  border-radius: 15px;
  box-shadow: 5px 15px 29px -7px rgba(0, 0, 0, 0.05);
  grid-area: form;
  padding: 60px 40px;
  min-width: 300px;
  height: 400px;
}

form label {
  color: #fefefe;
  margin-bottom: 1rem;
}

.food-items {
  grid-area: items;
  border: 1px solid red;
}

.food-items button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}

input {
  background-color: #f4f4f4;
  border: 1px solid blue;
  border-radius: 10px;
  display: block;
  font-size: 1.5rem;
  margin-top: .5rem;
  margin-bottom: 17px;
  padding: 1.5rem;
  width: 100%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

li {
  width: calc(50% - 50px);
  min-width: 300px;
  list-style-type: none;
  margin-right: 50px;
  border-radius: 15px;
  background-color: #fafbff;
  color: #000;
  margin-bottom: 30px;
  box-shadow: 5px 15px 29px -7px rgba(0, 0, 0, 0.05);
  padding: 2rem;
}

li h3 {
  background-color: #000;
  border-radius: 10px;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 1.2rem 2rem;
}

li p {
  padding: 1rem;
}

form button {
  width: 100%;
  margin-top: 10px;
}

button {
  min-width: 88px;
  background-color: #fbbd2e;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  min-width: 120px;
  color: #000;
  font-size: 16px;
  padding: 16px;
}

@media screen and (min-width: 0px) and (max-width: 766px) {
}
